<body>
<header></header>
<main>
<div>
  <h1>Watch <em>Comparison</em></h1>
  <div class="compare-labels">
    <div><div>prompt</div><div>Select at least two watches to compare</div></div>
    <div><div>cancel</div><div>Cancel</div></div>
    <div><div>compare</div><div>Compare</div></div>
    <div><div>close</div><div>Close</div></div>
    <div><div>remove</div><div>remove selected watches</div></div>
    <div><div>switch-back</div><div>Switch to back</div></div>
    <div><div>switch-front</div><div>Switch to front</div></div>
    <div><div>ref</div><div>Ref.</div></div>
    <div><div>section-case</div><div>Case</div></div>
    <div><div>section-dial</div><div>Dial</div></div>
    <div><div>section-bracelet</div><div>Bracelet</div></div>
    <div><div>section-calibre</div><div>Calibre</div></div>
    <div><div>material</div><div>Material</div></div>
    <div><div>setting</div><div>Setting</div></div>
    <div><div>size</div><div>Size</div></div>
    <div><div>thickness</div><div>Thickness</div></div>
    <div><div>water-resistance</div><div>Water resistance</div></div>
    <div><div>description</div><div>Description</div></div>
    <div><div>name</div><div>Name</div></div>
    <div><div>functions</div><div>Functions</div></div>
    <div><div>mechanism</div><div>Mechanism</div></div>
    <div><div>diameter</div><div>Diameter</div></div>
    <div><div>frequency-hz</div><div>Frequency Hz</div></div>
    <div><div>frequency-vph</div><div>Frequency Vph</div></div>
    <div><div>jewels</div><div>Jewels</div></div>
    <div><div>power-reserve</div><div>Power reserve</div></div>
    <div><div>parts</div><div>Parts</div></div>
  </div>
</div>
</main>
<footer></footer>
</body>
