/* Brand fallback serif — Cormorant Garamond Medium Italic (SIL OFL 1.1),
   registered at weight 250 to mirror audemarspiguet.com's own fallback
   declaration for "Times Now". Licensed brand faces are NOT shipped —
   see fonts/LICENSING.md. */
@font-face {
  font-family: "Cormorant Garamond";
  font-style: italic;
  font-weight: 250;
  font-display: swap;
  src: url("../fonts/cormorant-garamond-medium-italic.woff2") format("woff2");
}
